<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
  <body>

        <main role="main" class="container">

            <br/>
                        <br/>

              <a  class = 'mybuttons1'>Update was {{last_update}} seconds ago </a>        <br/>
        <br/>
        {% if 'login' in session %}
            <a href="/" class = 'mybuttons1'>Главная</a>
            <a href="/edittasks" class = 'mybuttons2'>Edit tasks </a>
            <a href="/editusers" class = 'mybuttons2'>Edit users </a>
            <a href="/editadmins" class = 'mybuttons2'>Edit admins </a>
            <a href="/notebook" class = 'mybuttons2'>Edit notebook</a>
            <a href="/logout" class = 'mybuttons2'>Выйти из {{session['login']}} </a>

        {% endif %}

        <br/>
        <br/>
        {% block content %}




        {% endblock %}
    </main>

  </body>
</html>