{% extends "base.html" %}


{% block content %}

<style>
  .mybuttons1{
              margin-top:5px;
          font-size: 16px;
          padding-left:3px;
          padding-right:3px;
          color:black;
          border: 1px solid black;

        }

          .mybuttons2{
             margin-top:5px;
          font-size: 16px;
            padding-left:3px;
          padding-right:3px;
          color:black;
          border: 1px solid black;
          margin-left:5px;
          }
</style>

    <div> {{nowtitle}}</div>
    <form method="POST">
        <p><textarea name="textfield" cols="100" rows="26">{{defaulttext}} </textarea></p>
        <input type="submit">
    </form>



{% endblock%}